{% extends "base.html.twig" %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {{ form_widget(form.answer[1]) }}
        {{ form_widget(form.answer[0]) }}
        {{ form_end(form) }}
        <script>
        console.log({{form}});
        </script>
    </div>
{% endblock %}