{% extends "base.html.twig" %}

{% block body %}
    {{ include('default/genre_header.html.twig') }}
    <h1>大問一覧</h1>
    {% for course in courses %}
        <a href="{{ path('four_play_index', { 'four_course_id': course.id }) }}">{{ course.name }}</a>
        <br />
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('four_course_show', { 'id': course.id }) }}">詳細</a>
            <a href="{{ path('four_course_edit', {'id': course.id }) }}">名前変更</a>
            <a href="{{ path('four_course_delete', {'id': course.id}) }}">削除</a>
        {% endif %}
        
        <br />
        <br />
    {% endfor %}
    <a href="{{ path('four_course_new') }}">追加</a>
{% endblock %}